[submodule "subrepo/busybox"]
	path = subrepo/busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "subrepo/emacs"]
	path = subrepo/emacs
	url = https://github.com/pipcet/emacs
	branch = pearl
[submodule "subrepo/kexec-tools"]
	path = subrepo/kexec-tools
	url = https://github.com/pipcet/kexec-tools
	branch = pearl
[submodule "subrepo/memtool"]
	path = subrepo/memtool
	url = https://github.com/pipcet/memtool
	branch = main
[submodule "subrepo/ncurses"]
	path = subrepo/ncurses
	url = https://github.com/pipcet/ncurses
	branch = pearl
[submodule "subrepo/glibc"]
	path = subrepo/glibc
	url = https://github.com/pipcet/glibc
	branch = pearl
[submodule "subrepo/cryptsetup"]
	path = subrepo/cryptsetup
	url = https://gitlab.com/cryptsetup/cryptsetup
[submodule "subrepo/lvm2"]
	path = subrepo/lvm2
	url = https://github.com/pipcet/lvm2
	branch = pearl
[submodule "subrepo/nvme-cli"]
	path = subrepo/nvme-cli
	url = https://github.com/linux-nvme/nvme-cli
[submodule "subrepo/libaio"]
	path = subrepo/libaio
	url = https://pagure.io/libaio.git
[submodule "subrepo/util-linux"]
	path = subrepo/util-linux
	url = https://salsa.debian.org/debian/util-linux
[submodule "subrepo/openssl"]
	path = subrepo/openssl
	url = https://github.com/openssl/openssl
[submodule "subrepo/libnl"]
	path = subrepo/libnl
	url = https://github.com/tgraf/libnl.git
[submodule "subrepo/popt"]
	path = subrepo/popt
	url = https://github.com/rpm-software-management/popt
[submodule "subrepo/json-c"]
	path = subrepo/json-c
	url = https://github.com/json-c/json-c
[submodule "subrepo/wpa"]
	path = subrepo/wpa
	url = https://salsa.debian.org/debian/wpa.git
[submodule "subrepo/gcc"]
	path = subrepo/gcc
	url = https://github.com/pipcet/gcc
	branch = pearl
[submodule "subrepo/perl"]
	path = subrepo/perl
	url = https://github.com/pipcet/perl
	branch = pearl
[submodule "subrepo/slurp"]
	path = subrepo/slurp
	url = https://github.com/perhunter/slurp
[submodule "subrepo/IPC-Run"]
	path = subrepo/IPC-Run
	url = https://github.com/toddr/IPC-Run
[submodule "subrepo/dtc"]
	path = subrepo/dtc
	url = https://github.com/pipcet/dtc
